@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 75%;
    margin: 0 auto;
    padding: 30px 0;
}


/* Header Section */

header {
    background-color: #FFF4E7;
}

.heading-blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-name h3 {
    font-size: 28px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 14px;
}

.heading-description {
    text-align: center;
    margin-top: 100px;
}
.heading-description h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.heading-description p {
    font-size: 14px;
    margin-bottom: 20px;
}
.primary-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px 0;
    background-color: #ff7675;
    color: #fff;
}
.heading-banner img{
    border-radius: 10px;
    width: 100%;
    margin: 40px 0;
}



/* Features Section */

.features-blogs, .experience-blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
    margin-top: 60px;
}
.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.blog-image img {
    width: 90%;
}
.features-description h2 {
    width: 75%;
    font-size: 35px;
    color: #636e72;
    font-weight: 400;
    margin-bottom: 20px;
}
.features-description h2 strong {
    color: #000;
}
.features-description h2 span {
    color: #ff7675;
}
.features-description p {
    font-size: 14px;
    color: #636e72;
    margin-bottom: 20px;
}



/* Experience Section */

.experience {
    margin: 80px 0;
}
.experience-blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
    margin-top: 60px;
}
.experience-description h2 {
    width: 60%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 25px;
    position: relative;
}
.experience-description h2::before{
    content: '';
    background-color: #55efc4;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 0;
    width: 4px;
    height: 80%;
}
.experience-description > p {
    width: 90%;
    font-size: 14px;
    margin-bottom: 22px;
}
.column-blogs {
    width: 90%;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    box-shadow:  8px 8px 16px #8f8f8f,
                 -8px -8px 16px #ffffff;
}
.column-blogs h5 {
    font-size: 18px;
    margin-bottom: 15px;
}
.column-blogs p {
    font-size: 12px;
}

.experience-image {
    position: relative;
}
.experience-image img {
    width: 100%;
} 
.experience-certificate {
    width: 200px;
    background-color: #ff7675;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 88%;
    left: -10%;
}
.experience-certificate h2 {
    font-size: 30px;
}



/* Skills Section */

.skill-title {
    width: 50%;
}
.skill-title h2 {
    font-size: 30px;
    margin: 20px 0;
}
.skill-title > p {
    font-size: 14px;
    color: #636e72;
    margin-bottom: 70px;
}
.skill-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    justify-content: space-around;
}
.skill-item {
    border: 2px solid #c44569;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}




/* Media Query Section */


@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
    }
    .heading {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    nav ul {
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        margin-top: 80px;
    }
    .heading-description {
        padding: 0 25px;
    }
    .heading-banner img {
        padding: 0 15px;
    }
    .features-blogs {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 60px;
    }
    .features-images {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .features-description, .features-description h2 {
        text-align: center;
        width: 100%;
        padding: 0 15px;
    }
    .experience-blogs {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding: 30px;
    }
    .experience-description h2, .experience-description p, .column-blogs {
        width: 100%;
        text-align: center;
    }
    .experience-certificate {
        top: 90%;
        left: 25%;
    }
    .skill-title{
        margin: 40px auto;
    }
    .skill-title h2, .skill-title p {
        text-align: center;
    }
    .skill-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 30px;
    }
}


@media screen and (min-width: 577px) and (max-width: 767px) {
    .container {
        width: 550px;
        margin: 0 auto;
        padding: 15px 0;
    }

    nav ul {
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        margin-top: 80px;
    }
    .heading-description {
        padding: 0 25px;
    }
    .features-blogs {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        margin-top: 60px;
    }
    .features-description, .features-description h2 {
        text-align: center;
        width: 100%;
    }
    .experience-blogs {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding: 30px;
    }
    .experience-description h2, .experience-description p, .column-blogs {
        width: 100%;
        text-align: center;
    }
    .experience-certificate {
        top: 90%;
        left: 25%;
    }
    .skill-title{
        margin: 40px auto;
    }
    .skill-title h2, .skill-title p {
        text-align: center;
    }
    .skill-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 700px;
        margin: 0 auto;
        padding: 20px 0;
    }
    .heading-description {
        padding: 0 25px;
    }
    .features-blogs {
        margin-top: 60px;
    }
    .experience-blogs {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding: 30px;
    }
    .experience-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .experience-description h2, .experience-description p, .column-blogs {
        width: 75%;
        margin: 20px auto;
        padding: 10px;
    }
    .experience-certificate {
        top: 93%;
        left: 35%;
    }
    .skill-title{
        margin: 40px auto;
    }
    .skill-title h2, .skill-title p {
        text-align: center;
    }
    .skill-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;
    }
}

